.header {
  display: flex;
  width: 100%;
  margin: 0 auto;

  .header_a {
    width: 20%;

    background-color: #1A2049;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .sec1m_a {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sec1m__caja1 {
        margin: 30px 30px;
        padding: 10px 0;
      }

      .sec1m__caja2 {
        width: 100%;
        margin: 10px 0;
        display: flex;

        justify-content: center;

        img {
          width: 90px;

          border-radius: 50%;
        }
      }

      .sec1m__caja3 {
        width: 100%;
        list-style: none;

        li {
          width: 100%;
          height: 40px;
          margin: 3px 0;
          background-color: rgb(19, 108, 143);
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }

  }

  .sec2m {
    width: 90%;
    display: flex;
    flex-direction: column;


    .sec2m__btn {
      width: 90%;

      margin: 0 auto;
      padding: 20px 0;
    }

    h2 {
      text-align: center;
      font-size: 18px;
      background-color: #141c5e;
      color: white;
      border-radius: 10px;
      margin: 10px 0;
      padding: 5px 5px;
    }

    hr {
      width: 90%;
      margin: 0 auto;
    }

    button {
      width: 200px;
      height: 30px;
      font-weight: bold;
      border-radius: 9px;
      font-size: 18px;
      cursor: pointer;
      color: #141c5e;
      background-color: white;
      border: 2px solid #141c5e;
    }

    button:hover {

      background-color: #141c5e;
      color: white;
    }
  }

  /*tabla*/

  .sec2n {
    width: 90%;

    margin: 0 auto;


    .sec2n__table {
      border-collapse:collapse;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.151);
      margin: 30px 0;

      .sec2n__thead {
        
        color: white;
        background-color: #141c5e;

        .sec2n__tr {
          .sec2n__th {
            font-size: 13px;
            background-color: rgb(19, 108, 143);
            padding: 10px 26px;
          }
        }
      }

      .sec2n__tbody {
        background-color: rgb(255, 255, 255);


        .sec2n__tr {
          .sec2n__td {
            padding: 5px;

            .sec2n__n {
              text-align: center;
            }

            .sec2n__titulo {
              font-size: 14px;
              font-weight: bold;
            }

            .sec2n__img {
              width: 90px;
              height: 90px;
              display: flex;
              align-items: center;

              img {
                width: 100%;

              }
            }

            .sec2n__descript {
              font-size: 15px;
            }

            .sec2n__note {
              display: flex;
              justify-content: center;

              button {
                width: 45px;
                height: 45px;
                background-color: #141c5e;
                border: none;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;

                i {
                  font-size: 25px;
                }
              }

              button:hover {
                border: 3px solid rgb(19, 108, 143);
                background-color: white;
                color: rgb(19, 108, 143);
              }
            }

            .sec2n__delete {
              display: flex;
              justify-content: center;

              button {
                width: 45px;
                height: 45px;
                background-color: rgb(245, 8, 8);
                border: none;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                color: white;

                i {
                  font-size: 25px;
                }

              }

              button:hover {
                border: 3px solid red;
                background-color: white;
                color: red;
              }
            }
          }
        }
      }
    }
  }

}














.sec3n {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;

  .sec3n__title {
    background-color: #141c5e;
    color: white;
    text-align: center;
    border-radius: 30px;
    font-size: 22px;
  }

  .sec4n {
    width: 100%;
    background-color: rgb(213, 214, 214);
    margin: 20px 0;
    padding: 20px;
    border-radius: 30px;

    h4 {
      margin: 10px 0;
    }

    .text {
      width: 100%;
      height: 25px;
      border-radius: 30px;
      padding: 0 10px;
    }

    .form {
      width: 100%;
    }

    p {
      margin: 5px;
    }

    .texta {
      width: 100%;
      border-radius: 30px;
      padding: 20px;
    }

    .btn {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      margin: 10px;

      button {
        background-color: #141c5e;
        border-radius: 20px;
        height: 40px;
        background-color: #141c5e;
        padding: 0 20px;
        border: none;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}