@use "_caja";
@use "_sec1";
<<<<<<< HEAD
@use "_footer";
=======
@use "_noticias";
>>>>>>> ad4dc6ddb94029f9dbe29533c953400aa09278c9

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
